/* Denna fil skall innehålla din CSS kod */
/* LANDING SITE*/

body {
    margin: 0px
}

#wrapper {
    display:grid;
    grid-template-areas:
    "nv nv nv"
    "hd hd hd"
    "sc sc as"
    "ft ft ft";
    grid-template-rows: 2fr 9fr 12fr 2fr;
    grid-template-columns: 2fr 1fr 1fr;
}

#nv {
    display:flex;
    grid-area: nv;
    background-color: #f6efe8;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 3vh;
    padding-right: 3vh;
}

#hd {
    display:flex;
    grid-area: hd;
    background-image:url(/img/coffe.jpg);
    background-size: 100%;
    background-position-y: 75vh;
    font-size:3vh ;
    color: #f6efe8;
    justify-content: center;
    align-items: center;
    background-color: #b58b63;
    font-size: 8vh ;
}

#sc {
    grid-area: sc;
    background-color: #f6efe8;
}

#as {
    grid-area: as;
    background-color: #b58b63;
}

#ft {
    grid-area: ft;
    background-color: #f6efe8;
}

#l1, #l2, #l3 {
    color: #a5b58d;
    text-decoration:none;
}